In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
movies = pd.read_csv('movies_df_currencies_example.csv', sep=';', na_values=["[]", "['']", "['', '']", "['', '', '']"])
movies.head()

,imdb_id,title,original_title,year,certificate,duration,directors,writers,stars,genres,countries,companies,imdb_rating,metascore,popularity,awards,budget,gross_us_canada,opening_us_canada,gross_world
0,tt0385887,Huérfanos de Brooklyn,Motherless Brooklyn,2019,12,2h 24min,['Edward Norton'],"['Edward Norton', 'Jonathan Lethem']","['Edward Norton', 'Gugu Mbatha-Raw', 'Alec Bal...","['Crime', 'Drama', 'Mystery']",['United States'],"['Warner Bros. Pictures', 'Class 5 Films', 'MW...",6.8,60.0,"1,554",Awards\n2 wins & 15 nominations,"$26,000,000","$9,277,736","$3,500,454","$18,477,736"
1,tt0437086,Alita: Ángel de combate,Alita: Battle Angel,2019,12,2h 2min,['Robert Rodriguez'],"['James Cameron', 'Laeta Kalogridis', 'Yukito ...","['Rosa Salazar', 'Christoph Waltz', 'Jennifer ...","['Action', 'Adventure', 'Sci-Fi']","['United States', 'Japan', 'Canada']","['Twentieth Century Fox', 'Lightstorm Entertai...",7.3,53.0,314,Awards\n10 wins & 24 nominations,"$170,000,000","$85,838,210","$28,525,613","$404,980,543"
2,tt0441881,Danger Close: La batalla de Long Tan,Danger Close: The Battle of Long Tan,2019,16,1h 58min,['Kriv Stenders'],"['Stuart Beattie', 'James Nicholas', 'Karel Se...","['Travis Fimmel', 'Toby Blome', 'Alexander Eng...","['Action', 'Drama', 'War']",['Australia'],"['Deeper Water', 'Hoosegow Productions', 'Inge...",6.8,NaN,"4,368",Awards\n8 wins & 6 nominations,"A$24,000,000",NaN,NaN,"$2,088,085"
3,tt0448115,¡Shazam!,Shazam!,2019,7,2h 12min,['David F. Sandberg'],"['Henry Gayden', 'Darren Lemke', 'Bill Parker']","['Zachary Levi', 'Mark Strong', 'Asher Angel']","['Action', 'Adventure', 'Comedy']","['United States', 'Canada']","['Warner Bros.', 'DC Entertainment', 'DC Comics']",7.0,71.0,306,Awards\n24 nominations,"$100,000,000","$140,371,656","$53,505,326","$365,971,656"
4,tt0783640,Con todos los honores,The Last Full Measure,2019,12,1h 56min,['Todd Robinson'],['Todd Robinson'],"['Sebastian Stan', 'Alison Sudol', 'Asher Mile...","['Drama', 'War']",['United States'],"['Foresight Unlimited', 'Provocator', 'SSS Ent...",6.8,51.0,"2,646",Awards\n1 nomination,"$20,000,000","$2,949,212","$1,058,019","$3,364,426"

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   imdb_id            189 non-null    object
 1   title              189 non-null    object
 2   original_title     10 non-null     object
 3   year               189 non-null    int64
 4   certificate        16 non-null     object
 5   duration           15 non-null     object
 6   directors          188 non-null    object
 7   writers            182 non-null    object
 8   stars              139 non-null    object
 9   genres             189 non-null    object
 10  countries          188 non-null    object
 11  companies          155 non-null    object
 12  imdb_rating        96 non-null     float64
 13  metascore          7 non-null      float64
 14  popularity         7 non-null      object
 15  awards             42 non-null     object
 16  budget             182 non-null    object
 17  gross_us_canada    7 non-null      object
 18  opening_us_canada  7 non-null      object
 19  gross_world        27 non-null     object
dtypes: float64(2), int64(1), object(17)
memory usage: 29.7+ KB

# Convert to number
imdb_rating, metacritic, popularity

In [216]:
movies['imdb_rating'].astype(float)

0      6.8
1      7.3
2      6.8
3      7.0
4      6.8
      ...
184    6.0
185    4.1
186    7.9
187    NaN
188    NaN
Name: imdb_rating, Length: 189, dtype: float64

In [217]:
movies['metascore'].astype(float)

0      60.0
1      53.0
2       NaN
3      71.0
4      51.0
       ...
184     NaN
185     NaN
186     NaN
187     NaN
188     NaN
Name: metascore, Length: 189, dtype: float64

In [6]:
movies['popularity']

0      1,554
1        314
2      4,368
3        306
4      2,646
       ...
184      NaN
185      NaN
186      NaN
187      NaN
188      NaN
Name: popularity, Length: 189, dtype: object

# Gross

In [211]:
def remove_dolar(amount):
    if str(amount) == 'nan':
        return np.nan
    else:        
        return float(amount.replace(',', '')[1:])

In [212]:
movies['gross_world'].apply(remove_dolar)

0       18477736.0
1      404980543.0
2        2088085.0
3      365971656.0
4        3364426.0
          ...
184       508781.0
185            NaN
186            NaN
187            NaN
188            NaN
Name: gross_world, Length: 189, dtype: float64

In [213]:
movies['gross_us_canada'].apply(remove_dolar)

0        9277736.0
1       85838210.0
2              NaN
3      140371656.0
4        2949212.0
          ...
184            NaN
185            NaN
186            NaN
187            NaN
188            NaN
Name: gross_us_canada, Length: 189, dtype: float64

In [214]:
movies['opening_us_canada'].apply(remove_dolar)

0       3500454.0
1      28525613.0
2             NaN
3      53505326.0
4       1058019.0
          ...
184           NaN
185           NaN
186           NaN
187           NaN
188           NaN
Name: opening_us_canada, Length: 189, dtype: float64

# Budget

In [34]:
import re

def clean_amount_currency(raw_amount):
    
    if str(raw_amount) == 'nan' :
        return (np.nan, np.nan)
    
    raw_amount = raw_amount.replace(',', '')
    
    for item in re.finditer(r"^(\D+)(\d+)$", raw_amount):

        currency = item.group(1).strip()
        amount = item.group(2)

    return(currency, amount)

In [35]:
movies['budgetCurrency'], movies['budgetAmount'] = zip(*movies['budget'].map(clean_amount_currency))
movies[['title', 'budget', 'budgetAmount', 'budgetCurrency']].head()

,title,budget,budgetAmount,budgetCurrency
0,Huérfanos de Brooklyn,"$26,000,000",26000000,$
1,Alita: Ángel de combate,"$170,000,000",170000000,$
2,Danger Close: La batalla de Long Tan,"A$24,000,000",24000000,A$
3,¡Shazam!,"$100,000,000",100000000,$
4,Con todos los honores,"$20,000,000",20000000,$

In [37]:
movies['budgetCurrency'].dropna().unique()

array(['$', 'A$', 'ZAR', '₹', 'RUR', '€', 'R$', 'CN¥', 'TRL', 'CA$',
       'NPR', '£', '¥', 'HUF', 'HRK', 'NOK', 'MNT', 'CHF', 'MX$', 'UAH',
       'HK$', 'PHP', 'PLN', 'EGP', 'IRR', 'NZ$', 'AED', 'DKK', 'NGN',
       'SEK', 'BDT', 'MYR', 'CZK', 'ARS', 'GEL', 'PKR', 'NT$', '₪', '₫',
       '₩', 'THB', 'RON'], dtype=object)

# Columns as lists
directors, writers, stars, genres, countries, companies

### Convertir a: comma separated values

In [193]:
movies['genres'].str.replace('[', '').str.replace(']', '').str.replace("'", "").str.replace(", ", ",")

<ipython-input-193-82e64224ad8a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  movies['genres'].str.replace('[', '').str.replace(']', '').str.replace("'", "").str.replace(", ", ",")

0               Drama
1        Action,Crime
2               Drama
3         Documentary
4                 NaN
             ...
12775           Drama
12776           Drama
12777        Thriller
12778           Drama
12779    Comedy,Drama
Name: genres, Length: 12780, dtype: object

### Convertir a lista

In [195]:
movies['genres'].str.replace('[', '').str.replace(']', '').str.replace("'", "").str.replace(", ", ",").str.split(',')

<ipython-input-195-4d65b4100add>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  movies['genres'].str.replace('[', '').str.replace(']', '').str.replace("'", "").str.replace(", ", ",").str.split(',')

0                [Drama]
1        [Action, Crime]
2                [Drama]
3          [Documentary]
4                    NaN
              ...
12775            [Drama]
12776            [Drama]
12777         [Thriller]
12778            [Drama]
12779    [Comedy, Drama]
Name: genres, Length: 12780, dtype: object

### Feature engeneering: el primer elemento de una lista

In [168]:
import ast

def first_elem_list(lst):
    if str(lst) == 'nan':
        return np.nan
    else:
        return ast.literal_eval(lst)[0]

In [172]:
# Seleccionar el primer país
movies['primaryCountry'] = movies['countries'].apply(first_elem_list)
movies['primaryCountry']

0               France
1              Germany
2        United States
3               France
4        United States
             ...
12775    United States
12776    United States
12777           Canada
12778            India
12779           Brazil
Name: primaryCountry, Length: 12780, dtype: object